fastapi
uvicorn
langchain
langchain-community
langchain-groq
faiss-cpu
sentence-transformers
pypdf
python-dotenv
pydantic
pytest
httpx
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart